.aia__container {
    display: flex;
    gap: 20px;
}

.aia_form__fields, .aia__content {
    max-width: 50%;
    width: 100%;
}

.aia__content {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    border-radius: $border-radius;
    padding: 20px 40px 20px 20px;
    position: relative;
}

.aia__actions {
    position: absolute;
    top: 15px;
    right: 10px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    opacity: 0;
    transition: $transition;

    & > * {
        cursor: pointer;
    }
}

.aia__action_copy {
    position: relative;

    span {
        opacity: 0;
        transition: $transition;
        position: absolute;
        left: 50%;
        top: calc(100% + 3px);
        transform: translateX(-50%);
        background-color: #fff;
        box-shadow: 0 0 2px #000;
        border-radius: 3px;
        padding: 4px 6px;
        color: $color-font;
        text-transform: uppercase;
        font-size: 12px;
        line-height: 1;
        font-weight: 500;
        z-index: 1;
    }

    &.active {
        pointer-events: none;

        span {
            opacity: 1;
        }
    }
}

.aia__content {
    border: 1px solid transparent;
    transition: $transition;

    &.active {
        .aia__actions {
            opacity: 1;
        }
    }

    &.issue {
        pointer-events: none;
        border-color: $color-danger;
    }
}

.aia__response {
    font-size: 18px;
}

.aia__response, .aia__error {
    &:empty {
        display: none;
    }
}

.aia__error {
    font-size: 18px;
    color: $color-danger;
}

.aia_form__fields {
    max-width: 50%;

    label {
        display: block;
        margin-bottom: 5px;
        font-size: 14px;
        font-weight: 500;
    }

    input[type='text'], input[type='number'], select {
        height: 41px;
        padding: 0 15px;
        color: $color-font;
        border: 1px solid $color-font;
        border-radius: $border-radius;
        font-size: 18px;
        transition: $transition;
        box-shadow: none !important;
        outline: none !important;
        width: 100%;
        max-width: 100%;

        &:active, &:focus {
            border-color: $color-main;
            box-shadow: 0 0 1px $color-main !important;
        }

        &.not_valid {
            border-color: $color-danger;
            box-shadow: 0 0 1px $color-danger !important;
        }
    }
}

.aia_form__submit {
    height: 48px;
    color: #fff;
    font-weight: 600;
    text-align: center;
    font-size: 18px;
    outline: none;
    transition: $transition;
    background: $color-main;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    border-radius: $border-radius;
    cursor: pointer;

    &.disabled, &[disabled] {
        opacity: 0.5;
        pointer-events: none;
    }

    &:active, &:focus {
        outline: none;
        background: $color-main-hover;
    }

    &:hover {
        outline: none;
        background: $color-main-hover;
    }
}

.aia_form__fow {
    &:not(:last-child) {
        margin-bottom: 12px;
    }

    &:last-child {
        margin-top: 30px;
    }
}